<aside class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-inner">
    <mat-nav-list class="nav-list">
      @for (item of navItems$ | async; track item.route) {
        <a mat-list-item
           [routerLink]="item.route"
           routerLinkActive="active-link"
           class="nav-item"
           [matTooltip]="collapsed ? item.label : ''"
           matTooltipPosition="right">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle class="nav-label">{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </div>

  <button class="toggle-btn" (click)="toggle()" [title]="collapsed ? 'Expandir menu' : 'Recolher menu'">
    <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>

</aside>
